<% if current_user %>
  <%= button_to "Logout", logout_path, method: :get %>
  <%= button_to "Access projects", projects_path, method: :get %>
  <%= button_to "Access resumes", resumes_path, method: :get %>
<% end %>

<div class="landing">
  <div class="text-container">
    <div class="container">
      <div class="logo">
        <span class="left"><</span>Luis Senior<span class="right">/></span>
        <div class="text">
          <span class="word">Software </span><span class="web">Engineer</span>
        </div>
      </div>
    </div>
    <a href="https://www.github.com/Heybluguy"><i class="fab fa-github-square fa-3x"></i></a>
    <a href="mailto:luisarturosenior@gmail.com"><i class="fas fa-envelope fa-3x"></i></a>
    <a href="https://www.linkedin.com/in/luissenior/"><i class="fab fa-linkedin fa-3x"></i></a>
  </div>
  <div class="arrow bounce">
    <a class="fa fa-arrow-down fa-2x" href="#projects"></a>
  </div>
</div>

<div class="project-section">

  <a id="projects"><h1>Projects</h1></a>
  <div class="project-list">
    <% @projects.where(:active => true).each do |project| %>
    <div class="project">
      <h2><%= project.name %></h2>
      <%= image_tag(project.img) if project.img? %>
      <p class="desc">
        <%= project.desc %>
      </p>
      <div class="buttons">
        <button><%= link_to 'Demo', project.hosted_url, target: '_blank' %></button>
        <button><%= link_to 'Repo', project.github_url, target: '_blank' %></button>
      </div>
    </div>
    <% end %>
  </div>
</div>

<!-- <div class="resume-section">

  <a id="resume"><h1>Resume</h1></a>
    <div class="resume">
      <% @resumes.where(:active => true).each do |resume| %>
        <iframe src=<%= resume.attachment_url  %> width="400em" height="580em"> </iframe><br>
         <div class="arrow bounce link">
        <%= link_to "View Resume", resume.attachment_url %>
        </div>
      <% end %>
    </div>

</div> //-->

<div class="skill-section">

  <a id="skills"><h1>Skills</h1></a>
    <div class="skill-list">
      <div class="skill"><i class="devicon-ruby-plain-wordmark" data-toggle="tooltip" title="Ruby"></i></div>
      <div class="skill" ><i class="devicon-rails-plain-wordmark" data-toggle="tooltip" title="RoR"></i></div>
      <div class="skill"><i class="devicon-postgresql-plain-wordmark" data-toggle="tooltip" title="Postgre SQL"></i></i></div>
      <div class="skill"><i class="devicon-mysql-plain-wordmark" data-toggle="tooltip" title="mySQL"></i></i></div>
      <div class="skill"><i class="devicon-heroku-plain-wordmark" data-toggle="tooltip" title="Heroku"></i></div>
      <div class="skill"><i class="devicon-html5-plain-wordmark" data-toggle="tooltip" title="HTML 5"></i></div>
      <div class="skill"> <i class="devicon-css3-plain-wordmark" data-toggle="tooltip" title="CSS 3"></i></div>
      <div class="skill"> <i class="devicon-bootstrap-plain-wordmark" data-toggle="tooltip" title="Bootstrap"> </i></div>
      <div class="skill"> <i class="devicon-sass-original" data-toggle="tooltip" title="SaSS" > </i></div>
    </div>

</div>


<footer>
  <a href="https://www.github.com/Heybluguy"><i class="fab fa-github-square fa-2x"></i></a>
  <a href="mailto:luisarturosenior@gmail.com"><i class="fas fa-envelope fa-2x"></i></a>
  <a href="https://www.linkedin.com/in/luissenior/"><i class="fab fa-linkedin fa-2x"></i></a>
  <p>
    luisarturosenior@gmail.com
  </p>
</footer>