<% if current_user %>
  <%= button_to "Logout", logout_path, method: :get %>
  <%= button_to "Access projects", projects_path, method: :get %>
<% end %>

<div class="landing">
  <div class="text-container">
    <h1>Luis Senior</h1>
    <h2>Back End Developer</h2>
    <a href="https://www.github.com/Heybluguy"><i class="fab fa-github-square fa-3x"></i></a>
    <a href="mailto:luisarturosenior@gmail.com"><i class="fas fa-envelope fa-3x"></i></a>
  </div>
</div>

<div class="project-section">

  <h1>Projects</h1>
  <div class="project-list">
    <% @projects.where(:active => true).each do |project| %>
    <div class="project">
      <div class="project-name">
        <h2><%= project.name %></h2>
      </div>
      <%= image_tag(project.img) %>
      <p class="desc">
        <%= project.desc %>
      </p>
      <div class="buttons">
        <button><%= link_to 'Demo', project.hosted_url, target: '_blank' %></button>
        <button><%= link_to 'Repo', project.github_url, target: '_blank' %></button>
      </div>
    </div>
    <% end %>
  </div>
</div>

<footer>
  <a href="https://www.github.com/Heybluguy"><i class="fab fa-github-square fa-2x"></i></a>
  <a href="mailto:luisarturosenior@gmail.com"><i class="fas fa-envelope fa-2x"></i></a>
  <p>
    luisarturosenior@gmail.com
  </p>
</footer>