<div class="landing">
  <div class="text-container">
    <h1>Michael Butera</h1>
    <h2>Back End Developer</h2>
    <a href="https://www.github.com/ButeraMV"><i class="fab fa-github-square fa-3x"></i></a>
    <a href="mailto:buteramv@gmail.com"><i class="fas fa-envelope fa-3x"></i></a>
  </div>
</div>

<div class="project-section">

  <% if current_user %>
    <%= button_to "Access projects", projects_path, method: :get %>
    <%= button_to "Logout", logout_path, method: :get %>
  <% end %>

  <h1>Projects</h1>
  <div class="project-list">
    <% @projects.where(:active => true).each do |project| %>
    <div class="project">
      <h2><%= project.name %></h2>
      <%= image_tag(project.img) %>
      <p>
        <%= project.desc %>
      </p>
      <p>
        <button><%= link_to 'Demo', project.hosted_url, target: '_blank' %></button>
        <button><%= link_to 'Repo', project.github_url, target: '_blank' %></button>
      </p>
    </div>
    <% end %>
  </div>
</div>

<footer>
  <a href="https://www.github.com/ButeraMV"><i class="fab fa-github-square fa-2x"></i></a>
  <a href="mailto:buteramv@gmail.com"><i class="fas fa-envelope fa-2x"></i></a>
  <p>
    buteramv@gmail.com
  </p>
</footer>