<div class="form-container">
  <div class="form">
    <%= form_for @resume, html: { multipart: true } do |f| %>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true %>
      </div>
      <div>
        <%= f.label :attachment %>
        <%= f.file_field :attachment %>
      </div>
      <div>
        <%= f.label :active %>
        <%= f.check_box :active %>
      </div>
      <div>
        <%= f.submit "Save" %>
      </div>
    <% end %>
  </div>
</div>